{% extends 'base.html' %}

{% block content %}


<div class="about_transacion_container">
    <div class="about_transacion_section">
        <div class="about_transacion">           
            <h3>Category: {{ transaction.category }}</h3>
            {% if transaction.type == 'Ex' %}
                <h1>-{{ transaction.amount }} руб</h1>
            {% else %}
                <h1>+{{ transaction.amount }} руб</h1>
            {% endif %}
            <h3>{{ transaction.date }}</h3>
            <div class="about_transacion_buttons">
                <h3><a href="{% url 'home' %}">Back</a></h3>
                <h3><a href="{% url 'edit_transaction' transaction.pk %}">Edit</a></h3>
                <h3><a href="{% url 'delete_transaction' transaction.pk %}">Delete</a></h3>
            </div>
        </div>
    </div>
</div>

{% endblock content %}